/* styles.css */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
  }

.fondo {
  background-image: url(../img/reloj.webp);
  height: 100vh;
  margin: 0;
  padding: 0;
  background-size: cover; /* Cambiar 'cover' a 'initial' para permitir la repetición */
  /* background-position: center; */
  background-repeat: repeat;
  margin-top: -90px;
}
  

  
  /* Ajuste de estilos del formulario */
